name: Check

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/check.yml"
      - "**/*.rs"
      - "**/Cargo.toml"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/check.yml"
      - "**/*.rs"
      - "**/Cargo.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Check formatting
        run: cargo fmt --all -- --check

  clippy:
    if: false # temporarily disable clippy to speed up CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Set up protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "28.x"
          repo-token: ${{ github.token }}

      - name: install webkit2gtk
        run: |
          sudo apt-get update
          sudo apt-get install -y webkit2gtk-4.1

      - name: Run clippy
        working-directory: ./plugin-rust-core
        run: cargo clippy --all-targets --no-default-features -- -D warnings
